html {
    width: 1024px;
    margin: auto;
}


body {
    width: 1024px;
    margin: 0;
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

header {
    background-color: orchid;
    display: table; 
    table-layout: auto;    
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

    header h1 {
        display: table-cell;
        text-align: end;
        
        padding: 0 0 0 20px;
        
    }

    header nav {
        
       /* margin: 0 0 0 0;
        padding: 0 0 0 0; 
        */
    }
        header nav ul {
            display: table;
    
            margin: 0 0 0 0;
    
    
        }
            header nav ul li {
        
                    display: table-cell;
                    align-self: center;
                    justify-self: center;
                    align-content: center;
                    
        
        
            }
                header nav ul li a {
                    text-align: center;
                    height: 20px;
                    width: 200px;
                    padding: 15px 10px 15px 10px;
                    background-color: aquamarine;
                    border: 1px solid mediumaquamarine;
                    display: table-cell;
                    text-align: center;
                }

    header a {
        display: table-cell;
        padding: 0 0 0;
        text-align: center;
        width: 150px;
        background-color: skyblue;
        border: 1px solid dodgerblue;
    }






main {
    
    display: grid;
    margin: 0px 0px 0px 0px;
    background-color: lightyellow;
}

h2 {
    grid-area: 1/1/ span 1/ span 2;
    width: 80%; 
    padding: 00px 00px 0px 20px;
}

p {
    padding: 00px 00px 0px 20px;
    width: 90%;
    grid-area: 2/1/span 1/ span 2;
}

article {
    grid-area: 3 / auto / auto / auto;
    width: 85%;
    background-color: skyblue;
    padding: 0px 10px 10px 20px;
    margin: 20px;
}
    article p {
        width: 95%;
        padding: 00px 00px 0px 00px;
    }

        img {
            width: 40%;
            object-fit: cover;
        }

aside {
    padding: 0 0 0 0;
    background-color: pink;
    grid-area: 1/3/span 3/ span 1;
    width: 300px;
    margin: 0 0 0 0px;
    text-align: center;
}
    aside ul {
        display: table;
        width: 150px;
        
    }
    aside ul h3 {
        text-align: left;
        padding: 0 0 0 60px;
    }
        aside ul li {
            display: table;
            border: 1px solid purple;
            text-align: left;
            width: 200px;
        }

        aside ol li {
            border: none;
            padding: 0px;
        }


footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 30px; /* Height of the footer */
    background: #6cf;
    text-align: center;
    padding-top : 10px;
    
}

span {
    align-self: center;
    margin: auto;
}

div {
    align-self: center;
    margin: auto;
    padding: 20px;
}
div h2 {
    text-transform:uppercase;
    margin: 20px;
}


form {
    border-radius: 10px;
    border: thin inset lightblue;
    padding: 20px;
    margin: 20px;

}
input[type=submit] {
    border-radius: 5px;
    background-color: lightgreen;
    
}
input[type=reset] {
    border-radius: 5px;
    background-color: pink;
    
}